# Dependencies
node_modules/

# Builds and caches
dist/
build/
vite.config.ts.timestamp-*
*.tsbuildinfo
.turbo/
.parcel-cache/
.cache/

# IDE / OS
.DS_Store
*.log
npm-debug.log*
yarn-error.log*
.idea/
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.*
!.env.example
